#articulos{
    background: #333333;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
}
#articulos .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.articulos-gz{
    margin: 20px;
    width: auto;
}
.articulos-gz img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 7px solid #000000;
}
.articulos-gz img:hover{
    background-color: #ffff00;
}
